In [1]:
import pandas as pd
import datetime

In [2]:
testset = pd.read_excel("sampleSubmission.xlsx")

In [3]:
testset.head()

                   id  label
0  SHSE.600085_201901      0
1  SHSE.600085_201902      0
2  SHSE.600085_201903      0
3  SHSE.600085_201904      0
4  SHSE.600085_201905      0

In [4]:
temp = []
for i in range(0, testset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = testset.iloc[i][0].split("_")[0]
    trade_date    = testset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    if(lower_index==0):
        temp.append(dash = ["-","","","","","","","",""])
    else:
        temp.append(list(df.iloc[lower_index, :]))

0 2020-06-17 06:14:31.002405
1000 2020-06-17 06:17:07.317643
2000 2020-06-17 06:19:33.900822
3000 2020-06-17 06:22:06.088284
4000 2020-06-17 06:24:22.473582
5000 2020-06-17 06:27:04.110057
6000 2020-06-17 06:29:42.482552
7000 2020-06-17 06:32:16.928037
8000 2020-06-17 06:34:55.660749
9000 2020-06-17 06:37:42.391518
10000 2020-06-17 06:40:13.319368
11000 2020-06-17 06:42:24.480532

In [5]:
pd.DataFrame(temp).to_excel("test_output.xlsx", index=False)

In [6]:
temp[0]

[Timestamp('2018-12-28 00:00:00'),
 27.18000030517578,
 27.57999992370605,
 26.98999977111816,
 27.5,
 3575585,
 27.25800018310547,
 27.57299995422363,
 28.19799995422363,
 -0.6956409185360641,
 40.79667783176571]

In [7]:
dash = ["-","","","","","","","",""]